// Base
$body-font: 'Poppins', sans-serif;
$normal-font-size: 1rem;
$small-font-size: 0.875rem;

// Navbar
$nav-color: #171c24 !default;
$nav-hover: #ff3d00 !default;
$nav-search-bg: #1e232b !default;
$nav-search-btn: #ff3d00 !default;
$nav-menu-bg: #14141f !default;
$white-color: #fff !default;
$z-fixed: 100;
